<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851653967415-nrs2ourkmb42b7hlrc7s50lv2qnb17bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851653967415-nrs2ourkmb42b7hlrc7s50lv2qnb17bq</string>
	<key>API_KEY</key>
	<string>AIzaSyAevbSRZtgD8FkWg-4wK_CjCoTsbVdSbI0</string>
	<key>GCM_SENDER_ID</key>
	<string>851653967415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uncled3v.astronomicaladventure</string>
	<key>PROJECT_ID</key>
	<string>astronomical-adventure-7d7f5</string>
	<key>STORAGE_BUCKET</key>
	<string>astronomical-adventure-7d7f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851653967415:ios:ffe1c504fc9d1496dbc9b2</string>
</dict>
</plist>